{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <!-- Default box -->
    <div class="box box-danger">
        <div class="box-body">
            <div class="error-page">
                <h2 class="headline text-red">500</h2>
                <div class="error-content">
                    <div class="text-center"><i class="fa fa-4x fa-frown-o text-red"></i></div>
                    <h3 style="margin-top: 0px !important;">
                        <i class="fa fa-warning text-red"></i> Sorry, Requested page not found!
                    </h3>
                    <p>
                        <a class="btn btn-default btn-flat btn-block" href="{{url_for('index')}}">
                            <i class="fa fa-home"></i> Take Me Home
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}
{% block script %}
{% endblock %}
