{% extends "login_registration_layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>News</b>Room</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Register a new membership</p>
            {% with flash_message_list = get_flashed_messages() %}
                {% if flash_message_list %}
                    <div class="alert alert-info">
                        <ul>
                            {% for flash_message in flash_message_list %}
                                <li>{{ flash_message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            <form action="/signup" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group has-feedback">
                    {{ form.email_address(class="form-control",id="email_address",type="email",required="required",
                    placeholder="Email Address") }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% for error in form.email_address.errors %}
                        <span class="help-block text-red lead">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback">
                    {{ form.password(class="form-control",id="password",type="password",required="required",
                    placeholder="Password") }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {% for error in form.password.errors %}
                        <span class="help-block text-red lead">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback">
                    {{ form.repeat_password(class="form-control",id="repeat_password",type="password",
                    required="required",placeholder="Repeat Password") }}
                    <span class="glyphicon glyphicon-refresh form-control-feedback"></span>
                    {% for error in form.repeat_password.errors %}
                        <span class="help-block text-red lead">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback">
                    {{ form.full_name(class="form-control",id="full_name",type="text",required="required",
                    placeholder="Full Name") }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% for error in form.full_name.errors %}
                        <span class="help-block text-red lead">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="/login" class="text-center">I already have a membership</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}
{% block script %}
{% endblock %}
